# editor settings
.idea
.vscode

# datasets file
datasets/
data/

# logs file
logs/

# weights file
weights/*

# onnx models
*.onnx

# python cache
__pycache__/
*.pyc

# results file
results/

# LiftFeat code
LiftFeat/

# old versions
old/

# tools file
tools/

3rdparty/Depth-Anything-V2/