# editor settings
.idea
.vscode

# datasets file
datasets/
data/

# logs file
logs/

# weights file
weights/*
weights_win/*

# onnx models
*.onnx

# python cache
__pycache__/
*.pyc

# results file
results/

# LiftFeat code
LiftFeat/

# HS-FPN code
HS-FPN/

# old versions
old/

# tools file
tools/

3rdparty/Depth-Anything-V2/